*{
    margin: 0;
    padding: 0;
}
body{
    
    background-color: #F9F9F9;

     
}
.header{
    box-shadow: 1px 1px 10px 1px grey;
    border-radius: 0px 0px 20px 20px;
    
}

.navbar{
    border-radius: 0px 0px 20px 20px;
}

.carousel .carousel-inner{
    background-color: #F9F9F9;
    border-radius: 30px;
    box-shadow: 1px 2px 6px 3px gray;
}





.cookie{
    position: fixed;
    bottom:1%;
    left:1%;
    z-index: 999;
}



.places{
    margin-top: 30px;
    box-shadow: none;
}

.offcanvas-header{
    flex-direction: column;
    border:solid 1px white;
}

.previewTile{
    z-index:3;
    width:100%;
    height:100vh;
    background-color: white;
 
}
.firstPlace img{
    width:80px;
    height:80px;
    padding:0;
    border-radius: 15px;
}

.firstPlace{
    display: flex;
    gap:10px;
    align-items: center;
    justify-items: center;
    background-color: white;
    border-radius:15px;
}



 .info{
margin-top: 15px;
width:150px;
flex-direction: column;
   
}

.row {
   
    width:max-content;
    border:solid;
 
  
}

/* .anchor {
    list-style: none;
    text-decoration: none;
    color:black;
} */



.alert{
    justify-content: center;
    align-items: center;
   
}

.fa-heart{
    margin-bottom: 3px;
}



.previewScreen{
    z-index:3;
    position: fixed;
    top:80px;
    height:85vh;
    background-color: white;
    width:90%;
    transform: translateX(5%);   
    border-radius: 15px;
   -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    animation: slideUp .3s linear;
}


@keyframes slideUp {
    0% {
        transform: translateY(100%);
        transform: translateX(100%);
    }
    100% {
        transform: translateY(0);
        transform: translateX(5%);
    }
}

.fa-ellipsis{
    border:solid;
    width:30px;
    margin-left:50%;
    transform: translateX(-50%);
    border-radius: 15px;
    opacity: 0.7;
}

.fa-ellipsis:hover{
    opacity: 1;
}


@keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  .hidden.active {
    animation: slideDown 0.3s linear;
  }

  
@keyframes slideUpTile {
    0% {
    transform: translateY(0%);
    opacity:1;
    }
    100% {
      transform: translateY(-70%);
      opacity:0;
    }
  }
  
 
  .fa-eye-slash{
    opacity:0.7;
    margin-left:50%;
    transform: translateX(-50%);
  }
  .fa-eye-slash:hover{
    opacity:1;
  }




  @keyframes beat {
    0%,100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
      
    }
  }
  
  .beat-animation {
    animation: beat .5s linear;
  }

  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-2px);
    }
    50% {
      transform: translateX(2px);
    }
    75% {
      transform: translateX(-2px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .shake-animation {
    animation: shake 0.5s ease;
  }

  .btn-close{
   

  }

  .offcanvas .offcanvas-header{
    background-color: white;
    
  }
  .offcanvas-body{
  }
 .offcanvasContainer{
    background-image: url("./img/ballantines-drinks-finest-cola.webp");
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    gap:5px;
    height:60vh;
    width:100%;
    z-index: 0;
    position: fixed;
    box-shadow: 1px 3px 6px 2px grey;
    left:0;
    top:0;
    
  }


.fa-facebook{
    color:#3b5998;
    /* position: fixed;
    bottom:3%;
    left:50%;
    transform: translateX(-50%); */
    
    z-index: 2;
}
.fa-instagram{
    color:#E4405F;
    
   
  
    
}
.inf{
    z-index: 1;
    position: fixed;
    background-color: white;
    border:solid 2px lightsalmon;
    height:70vh;
    bottom: 0%;
    left:0%;
    border-radius: 40px 40px 0px 0px;
}

