*{
    margin:0;
    padding: 0;  
}
body{
    height:200vh;
}
.header{
    width:100%;
    background-image: linear-gradient(95deg, #f0d684 0, #edc774 16.67%, #e3b05e 33.33%, #d49442 50%, #c47728 66.67%, #ba6018 83.33%, #b54e13 100%);
    
    border-radius: 0px 0px 20px 20px;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

body{
    background-image: url("img/ballantines-drinks-finest-cola.webp"); 
    background-color: #F2F2F2;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    border-radius: 0px 0px 30px 30px;
}
 .container-fluid{
    background-color: #F2F2F2;
    border-radius: 15px 15px 15px 15px;
} 
#clMeet{
    color:orange;
    font-size: 32px;
}
#clOver{
    color:#000000;
    font-size: 32px;
}

ul{
    font-size: 24px;
}
.form-control{
    width:300px;
}

#rentScreen,#findScreen{
    width:80%;
    height:80%;
    position: fixed;
    left:50%;
    top:15%;
    transform: translateX(-50%);
    border-radius: 15px 15px 15px 15px;
    z-index: 1;
    background-color: #e3b05e;
    opacity: .9;
    animation: load 1.5s ;
    -webkit-box-shadow: 4px 16px 28px -13px rgba(66, 68, 90, 1);
    -moz-box-shadow: 4px 16px 28px -13px rgba(66, 68, 90, 1);
    box-shadow: 4px 16px 28px -13px rgba(66, 68, 90, 1);
}

@keyframes  load {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-50%);
    }
}
#rentScreen{
    text-align: center;
    font-size: 24px;

}
#findScreen{
  
    text-align: center;
    font-size: 24px;
}

.btn-primary{
    position:fixed;
    left:1%;
    bottom:1%;
}

.offcanvas-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
}


.dropdown-menu{
   opacity: 1;
}

#log{
    border:solid 1.5px black;
    justify-self: flex-end;
}

#mainContainer{
    background-color: white;
    height:80vh;
    border-radius: 15px;
    margin-top:10px;
    -webkit-box-shadow: 4px 16px 28px -13px rgba(66, 68, 90, 1);
    -moz-box-shadow: 4px 16px 28px -13px rgba(66, 68, 90, 1);
    box-shadow: 4px 16px 28px -13px rgba(66, 68, 90, 1);
}
img{
    width:200px;
    height:200px;
    border-radius: 20px;
}
#pic1,#pic2,#pic3{
    width:100%;
    height:200px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    -webkit-box-shadow: 4px 16px 28px -13px rgba(66, 68, 90, 1);
    -moz-box-shadow: 4px 16px 28px -13px rgba(66, 68, 90, 1);
    box-shadow: 4px 16px 28px -13px rgba(66, 68, 90, 1);
}

.information{

}


