*{
    margin: 0;
    padding: 0;
}
body{
    height:150vh;
    background: linear-gradient(
        0deg,
        rgba(12, 173, 171, 1) 24%,
        rgba(77, 240, 153, 1) 49%,
        rgba(32, 178, 7, 1) 74%
      );
      background-blend-mode: darken;
}
.header{
    box-shadow: 1px 1px 10px 1px grey;
    border-radius: 0px 0px 20px 20px;
    
}

.navbar{
    border-radius: 0px 0px 20px 20px;
}

.carousel .carousel-inner{
    background-color: white;
    border-radius: 30px;
    box-shadow: 1px 2px 6px 3px gray;
}

.firstPlace img{
    width:80px;
    height:80px;
    padding:0;
    border-radius: 15px;
}



.firstPlace{
    display: flex;
    box-shadow: 0px 0px 5px 3px grey;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    background-color: white;
    height:100px;
    gap:10px;
}
.firstPlace .jpg{
    width:80px;
    height:80px;
   
}

.firstPlace .info{
   
    width:250px;
    height:80px;
}

.row .heart{
    width:70px;
    
}
.cookie{
    position: fixed;
    bottom:1%;
    left:1%;
}

.nothing, .nothing-1{
    height:4vh;
}

.places{
    margin-top: 30px;
    box-shadow: none;
}

.offcanvas-header{
    flex-direction: column;
    border:solid 1px white;
}